<div class="container">
  <div class="col-md-8">

    <h2>Show Page</h2>
    <br>
    <strong>Name: <%= @creature.name %></strong>
    <p><strong>Description: <%= @creature.desc %></strong></p>

    <strong>Photo:</strong>
    <div class="img">
      <div class="row">
        <% @results.each do |photo|%>
          <% large = photo.gsub("_s","")%>
          <%= link_to image_tag(photo), large%>
        <% end %>
      </div>
    </div>

    <div>
      <% @reddit_posts.each do |post|%>
        <li><%= link_to post['data']['title'], "http://www.reddit.com#{post['data']['permalink']}"%></li>
      <% end %>
    </div>

    <% @creature.tags.each do |tag|%>
      <%= link_to tag.name, tagc_path(tag.name)%>
    <% end %>

    <%= link_to 'Back to all Creatures', creatures_path %>

  </div>
</div>